.video-responsive {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 2px rgba(56, 54, 54, 0.466);
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}