.howItsMadePage{
    padding: 0rem 0rem 40rem 0rem;
    display: grid;
    gap: 150px;

    background-image: url(../../Images/backgrounds/dhakaPattern13.png);
    background-size: 250px 250px;
    background-attachment: fixed;
    background-position: center;
}
.howItsMadePage h1 span{
    color: #6d3ca1;
}
.howItsMadePage h2 span{
    color: #8e75d8;
}

.sectionMaterialWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}

.sectionPartsWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}

.sectionKeAssembleWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}
.sectionKeAssembleWrapper .flexRowWrapper .assemblyImageFrame{
    display: flex;
    height: 500px;
    width: 650px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
} 
.sectionKeAssembleWrapper .flexRowWrapper .assemblyImageFrame .normalImage{
    display: flex;
    height: 500px;
    width: 650px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}
.sectionKeAssembleWrapper .flexRowWrapper .assemblyImageFrame .roundedRImage{
    height: 104%;
    width: 104%;
    border: 15px solid white;
    position: absolutes;
    border-radius: 40px 300px 300px 40px;

    bottom: 50%;
    right: 50%;
    transform: translate(-10%, -4%);
}
.sectionKeAssembleWrapper .flexRowWrapper .assemblyImageFrame .roundedLImage{
    height: 104%;
    width: 104%;
    border: 15px solid white;
    position: absolutes;
    border-radius: 300px 40px 40px 300px;

    bottom: 50%;
    right: 50%;
    transform: translate(10%, -4%);
}

.sectionKeAssembleWrapper .flexRowWrapper .informationWrapper{
    height: 300px;
    width: 540px;
}