.ParallaxMouse{
  border-bottom: 0px solid black;
}

.ParallaxMouse section{
  height: 100vh;
}

.ParallaxMouse h1 {
  font-size: 80px;
  color: skyblue;
  height: 10rem;
  width: 50%;
  background-color: black;
  position: absolute;
  border-radius: 100px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 210%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  transition: 0.45s cubic-bezier(.19,.48,.31,.98);

  &:hover .backgroundLayer0{
    filter: blur(0px);
  } 
}

.vignette{
  position: absolute;
  z-index: 10;
  width: 102%;
  height: 102%;
  top: -10px;
  left: -10px;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 55%, rgb(0, 0, 0));
}

.backgroundLayer0{
  height: 100vh;
  width: 102%;
  position: absolute;
  filter: blur(1.5px);
  top: -20px;
  left: -20px;
  z-index: 1;
  background-position: center;
  background-position-y: -200px;
  background-size: cover;
  background-repeat: no-repeat;
}
  .PhaktanglungLayer1{
    height: 600px;
    width: 1400px;
    position: absolute;
    /* border: 1px solid rebeccapurple; */

    bottom: 0;
    left: -20px;
    z-index: 1;

    background-position-y: -100px;
    background-size: cover;
    background-repeat: no-repeat;
  }
    .Pathibhara{
      height: 400px;
      width: 800px;
      position: absolute;

      bottom: 0;
      left: 20%;
      z-index: 1;

      background-position-y: -220px;
      background-position-x: 0px;
      background-size: cover;
      background-repeat: no-repeat;
    }
      .Guphapokhari{
        height: 400px;
        width: 1000px;
        position: absolute;

        bottom: 0;
        right: 30%;
        z-index: 1;

        background-position-y: -120px;
        background-position-x: -0px;
        background-size: cover;
        background-repeat: no-repeat;
      }
        .IllamLayer2{
          height: 750px;
          width: 1000px;
          position: absolute;

          bottom: -20px;
          right: -20px;
          z-index: 1;

          background-position-y: -0px;
          background-size: cover;
          background-repeat: no-repeat;
        }
          .CholungLayer3{
            height: 700px;
            width: 1000px;
            position: absolute;

            bottom: 0;
            left: -20px;
            z-index: 1;

            background-position-y: -0px;
            background-size: cover;
            background-repeat: no-repeat;
          }
            .ChyabrungLayer4{
              height: 350px;
              width: 400px;
              position: absolute;

              bottom: 0;
              right: 38%;
              z-index: 1;

              background-position-y: -100px;
              background-size: cover;
              background-repeat: no-repeat;
            }



.fixed{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -190px;
}

.fixed h1{
  border: 2px solid rebeccapurple;
  color: white;
  font-size: 50px;
  
  position: sticky;
  top: 0;
  height: 50px;
  margin: auto;
}

 