
@keyframes slideUp {
    0%{
        transform: translateY(100px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

.animationFade {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes fade {
    0%{
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.animationScaleIn{
    opacity: 0%;
    scale: 0.6; 
    animation: scaleIn linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes scaleIn {
    to {
        opacity: 100%;
        scale: 1; 
    }
}


.animationScaleFade{
    animation: scaleFade linear forwards;
    animation-timeline: view();
    animation-range: exit;
}
@keyframes scaleFade {
    25%{
        opacity: 0%;
    }
    85%, 100%{
        opacity: 100%;
        scale: 3;
    }
}


.animationFloatRight{
    animation: animationFloatRight linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes animationFloatRight {
    0%{
        opacity: 0%;
        transform: translateX(-100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

.animationFloatLeft{
    animation: animationFloatLeft linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes animationFloatLeft {
    0%{
        opacity: 0%;
        transform: translateX(100%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

.animationFloatUP{
    animation: animationFloatUP linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes animationFloatUP {
    0%{
        opacity: 100%;
        transform: translateY(100%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

.animationFloatDOWN{
    animation: animationFloatDOWN linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
@keyframes animationFloatDOWN {
    0%{
        opacity: 100%;
        transform: translateY(-100%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);
    }
}