
:root{
    --paragraphPadding: 20px;
}

.homePage{
    padding-bottom: 30rem;
    display: grid;
    gap: 10rem;

    background-image: url(../Images/backgrounds/dhaka7.png);
    background-size: 200px 200px;
    background-attachment: fixed;
    background-position: center;
}

.heroSection{
    height: 250px;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    background-color: #aba7eed3;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}   .heroSection p{
        background-color: transparent;
        margin-top: -20px;
        text-align: center;
    }
    .heroSection button{
        position: absolute;
        bottom: -40px;
    }



.headerFrame{
    height: 60rem;
    width: 100%;
}

.largeImage{
    position: relative;
    width: 100%;
    height: 44rem;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(100px);
    opacity: 0;
    transition: 1s ease;

    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.192) 45%, rgb(61, 89, 90));
        border-radius: 40px;
    }
}

.genderInfoWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
} 
    .genderInfoWrapper .flexColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .genderInfoWrapper .flexColumn image{
        border-radius: 20px;
        display: flex;
        height: 500px;
        width: 600px;
        background-color: #AA78DF;
        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .genderInfoWrapper .flexColumn p{
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .genderInfoWrapper .flexColumn h2 span{
        color: #5021FF;
    }
 
@media only screen and (max-width: 900px) {
    .genderInfoWrapper .flexColumn image{
        height: 350px;
        width: 350px;
    }
    .genderInfoWrapper .flexColumn p{
        width: 270px;
    }
}


.curvedTop{
    position: relative;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: " ";
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100vh;
        background-color: #cb9898b2;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) translateY(100%) scale(2);
        z-index: 0;
    }
}

.curvedBottom{
    position: relative;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vw;
        height: 100vh;
        background-color: #cb9898b2;
        border-radius: 50%;
        transform-origin: bottom;
        transform: translateX(-50%) scale(2);
        z-index: 0;
    }
}



.splitSection{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-around;
}   
.splitSection .flex{
    height: fit-content;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &:nth-child(2),  &:nth-child(4){
        margin-top: 6rem;
    }
}



.splitSection image{
    border-radius: 20px;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:nth-child(2){
        background-position: bottom;
    }
}

@media only screen and (max-width: 1800px) {
    .splitSection .flex{
        &:nth-child(2),  &:nth-child(4){
            margin-top: 0rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    .splitSection image{
        border-radius: 20px;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #48BAA5;
    }
}











.sectionSplitY{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.aboutChyabrungInfoWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.imageFloatLeft{
    background-position: left;
}
.imageFloatRight{
    background-position: right;
}
.sectionSplitY .aboutChyabrungInfoWrapper image{
    border-radius: 20px;
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
}   
        
.sectionSplitY  .aboutChyabrungInfoWrapper p{
    width: 520px;
    height: auto;
}
    .sectionSplitY .aboutChyabrungInfoWrapper h2 span{
        color: #4B79A1;
    }

@media only screen and (max-width: 1800px) {
    .sectionSplitY .aboutChyabrungInfoWrapper{
        justify-content: space-evenly;
    }
}

    
@media only screen and (max-width: 900px) {
    .splitSection span{
        border-radius: 20px;
        height: 350px;
        width: 350px;
    }

    .sectionSplitY{
        gap: 1rem;
    }

    .sectionSplitY .aboutChyabrungInfoWrapper image{
        border-radius: 20px;
        height: 350px;
        width: 400px;
    }
    .sectionSplitY .aboutChyabrungInfoWrapper p{
        border-radius: 20px;
        height: auto;
        width: 320px;
    }
}



.dressButton{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}


.chyabrungMoreInfo{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.chyabrungInfoContainer{
    width: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
}   @media only screen and (max-width: 1860px) {
        .chyabrungInfoContainer{
            justify-content: center;
            align-items: center;
        }
    }

.chyabrungMoreInfo .informationWrapper{
    height: auto;
    width: 500px;
    border-radius: 40px;
}

.chyabrungMoreInfo image{
    height: 450px;
    width: 600px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chyabrungMoreInfo .chyabrungInfoContainer h2 span{
    color: #89AB25;
}



    /* .secOverflowHidden .purpleBgParahraph h2 span{
        color: #AA78DF;
    }

.secOverflowHidden .redBg{
    background-color: #d8637b;
}
    .secOverflowHidden .redBgParahraph h2 span{
        color: #E24C5E;
    } */

/* .secOverflowHidden p{
    height: calc(400px - var(--paragraphPadding) * 3);
    width: calc(600px - var(--paragraphPadding) * 2);
    border-radius: 20px;
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  */


@media only screen and (max-width: 1500px) {
    .chyabrungMoreInfo .informationWrapper{
        border-radius: 20px 20px 40px 40px;
    } 
    
    .chyabrungMoreInfo image{
        border-radius: 40px 40px 20px 20px;
    }
}

@media only screen and (max-width: 900px) {
    .chyabrungInfoContainer{
        gap: 2rem;
    }

    .chyabrungMoreInfo image{
        height: 350px;
        width: 100%;
    }
    
    .chyabrungMoreInfo .informationWrapper{
        height: auto;
        width: 240px;
    }

}




.sectionContainer{
    position: relative;
}

.whitebox{
    position: relative;
    height: 600px;
    width: 750px;
    background-color: #91553B;
    border-radius: 40px;
}
    .whitebox image{
        position: absolute;
        height: 400px;
        width: 600px;
        background-color: rosybrown;
        border-radius: 20px;
        bottom: 50%;
        right: 50%;
        transform: translate(-10%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;

        background-position: bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .whitebox .informationWrapper{
        position: absolute;
        height: calc(360px - var(--paragraphPadding) * 2);
        width: calc(600px - var(--paragraphPadding) * 2);
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whitebox p h2 span{
        color: #AA78DF;
    } 

@media only screen and (max-width: 1400px) {
    .whitebox{
        height: 500px;
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    
    .whitebox image{
        height: 400px;
        width: 400px;
        bottom: 50%;
        right: 50%;
        transform: translate(-10%, 50%);
    }
    
    .whitebox .informationWrapper{
        height: 320px;
        width: 340px;
        top: 50%;
        left: 50%;
        transform: translate(10%, -50%);
    }
}

@media only screen and (max-width: 900px) {
    .whitebox{
        height: 320px;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .whitebox image{
        height: 300px;
        width: 300px;
        bottom: 52%;
        right: 50%;
        transform: translate(50%, 0%);
    }

    .whitebox .informationWrapper{
        height: auto;
        width: 220px;
        top: 52%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}


.homePage .section2{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.homePage .section2 .imageFrame{
    height: 400px;
    width: 400px;
    background-color: rosybrown;
    border-radius: 40px;
    position: relative;
}

.homePage .section2 .imageFrame image{
    height: 300px;
    width: 500px;
    display: flex;
    background-color: gold;
    border-radius: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.homePage .section2 p{
    margin-left: -240px;
    height: 300px;
    width: 500px;
    background-color: goldenrod;
    border-radius: 20px;
}





.homePage .section2 .imageFrameOval{
    height: 400px;
    width: 400px;
    background-color: rosybrown;
    border-radius: 23% 77% 40% 60% / 57% 61% 39% 43%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 72% 28% 12% 88% / 84% 49% 51% 16% ;
      background-color: rgba(102, 51, 153, 0.281);
    }
}

.homePage .section2 .imageFrameOval image{
    height: 300px;
    width: 500px;
    display: flex;
    background-color: rgba(255, 217, 0, 0.493);
    border-radius: 20px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}


.moveUp{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0px);
}