.pimpPurple{
    background-color: #5021FF;
}
.lightPurple{
    background-color: #ad8afa9f;
}
.mediumPurple{
    background-color: #B9A9E8;
}
.darkPurple{
    background-color: #AA78DF;
}



.lightTealGreen{
    background-color: #bffff3c2;
}
.mediumTealGreen{
    background-color: #50B9A4;
}
.darkTealGreen{
    background-color: #48BAA5;
}



.lightSteelBlue{
    background-color: #8bc1f7a6;
}
.mediumSteelBlue{
    background-color: #549DE7;
}
.darkSteelBlue{
    background-color: #4B79A1;
}



.lightGreen{
    background-color: #eaffb0b4;
}
.mediumGreen{
    background-color: #aec272;
}
.darkGreen{
    background-color: #89AB25;
}



.lightRed{
    background-color: #ffb3c5b9;
}
.mediumRed{
    background-color: #E24C5E;
}
.darkRed{
    background-color: #D8637B;
}



.lightYellow{
    background-color: #fff67aa8;
}
.darkYellow{
    background-color: #ED9B27;
}



.lightBrown{
    background-color: #FFECEC;
}
.mediumBrown{
    background-color: #CB9898;
}
.darkBrown{
    background-color: #91553B;
}



.flexColumnn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
}

.flexRowWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    /* border: 1px solid rebeccapurple; */
} 
    @media only screen and (max-width: 1700px) {
        .flexRowWrapper{
            justify-content: center;
        }
    }

.flexColumnWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
}
