.pimpPurple{
    background-color: #5021FF;
}
.lightPurple{
    background-color: #ad8afaa1;
}
.mediumPurple{
    background-color: #7f66ca;
}
.darkPurple{
    background-color: #6d3ca1;
}
.purpleRoundedColor{
    background-color: #372fc491;
}
.purpleRoundedColor2{
    background-color: #6d3ca1b0;
}
.lightPurpleVideoFrame{
    background-color: #bfbfffbb;
}



.lightTealGreen{
    background-color: #bffff3c2;
}
.mediumTealGreen{
    background-color: #50B9A4;
}
.darkTealGreen{
    background-color: #48BAA5;
}
.tealRoundedCoor{
    background-color: #50b9a4c4;
}



.lightSteelBlue{
    background-color: #8bc1f796;
}
.mediumSteelBlue{
    background-color: #549DE7;
}
.darkSteelBlue{
    background-color: #4B79A1;
}
.roundedSteelBlue{
    background-color: #4b79a1bb;
}


.lightGreen{
    background-color: #eaffb0b4;
}
.mediumGreen{
    background-color: #aec272;
}
.darkGreen{
    background-color: #89AB25;
}
.greenRoundColor{
    background-color: #8aab25c9;
}
.lightGreenVideoFrame{
    background-color: #c9db98b4;
}


.lightRed{
    background-color: #ffb3c5b9;
}
.mediumRed{
    background-color: #E24C5E;
}
.darkRed{
    background-color: #D8637B;
}
.lightRedVideoFrame{
    background-color: #e0828da1;
}
.darkRedRoundedColor{
    background-color: #ca556daf;
}



.lightYellow{
    background-color: #fff67aa8;
}
.darkYellow{
    background-color: #ED9B27;
}



.lightBrown{
    background-color: #ffd3d3a2;
}
.mediumBrown{
    background-color: #b98585;
}
.darkBrown{
    background-color: #91553B;
}
.brownRoundColor{
    background-color: #ac8282d2;
}
.lightBrownVideoFrame{
    background-color: #ffdcdca8;
}

.flexColumnn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
}

.flexRowWrapperCenter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* border: 1px solid rebeccapurple; */
}

.flexRowWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* border: 1px solid rebeccapurple; */
} 
    @media only screen and (max-width: 1800px) {
        .flexRowWrapper{
            justify-content: center;
        }
    }

.flexColumnWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* border: 1px solid green; */
}

.scrollReveal h3 span{
    margin: auto;
    color: hsl(0 0% 100% / 0.2);

    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, black, black);
    animation: scrollReveal linear forwards;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes scrollReveal {
    to {
        background-size: 100% 100%;
    }
}
