.whyImportantPage{
    height: auto;
    width: auto;
    padding: 0rem 0rem 30rem 0rem;
    display: grid;
    gap: 150px;

    background-image: url(../../Images/backgrounds/dhaka7.png);
    background-size: 200px 200px;
    background-attachment: fixed;
    background-position: center;
}
.whyImportantPage h1 span{
    color: #ED9B27;
}
.whyImportantPage h2 span{
    color: #ED9B27;
}
/* .mainSection{
    background-color: antiquewhite;
}
.containerFrame{
    padding: 5rem;
}
.stickyParent{
    height: 500vh;
}
.sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    border: 1px solid rebeccapurple;
}
.scrollSection{
    position: absolute;
    top: 0;
    height: 100%;
    width: 450vw;
    background-color: black;
    will-change: transform;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30vw;
}
.imagesss{
    width: 700px;
    height: 500px;
    background-color: blue;
} */

.sectionWhyImportantChap1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}



.sectionWhyImportantChap2{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.sectionWhyImportantChap3{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}

.imagesWith{
    height: 500px;
    width: 500px;
    position: relative;
    background-color: #ED9B27;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  

    &::before{
        content: "";
        height: 100%;
        width: 100%;
        background-color: #FFC97B;
        position: absolute;
        z-index: 0;
        border-radius: 50%;
        top: 0;
        left: 0;
        transform: translate(50%, 0%);
    }
}

.ba{
    height: 400px;
    width: 300px;
    background-color: black;
    z-index: 1;
}
