
.NavagationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    border-radius: 50px;
    padding: 0 2rem;
    background-color: #183A5F;
    color: skyblue;
    z-index: 1000;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    box-shadow: 0px 0px 10px 2px rgb(35, 35, 59);
}

.homeLogo{
    height: 62px;
    width: 62px;
    border: 2px solid #183A5F;
    border-radius: 4px;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: logoChange 10s linear infinite;
    /* &:hover{
        border: 2px solid skyblue;
    } */
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .links{
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s ease;
    &:hover{
        color: #E24C5E;
    }

    &:focus{
        color: #E24C5E;
    }
}

.NavagationBar .nav-btn{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: none;
}

nav .homeLogoResponsive{
    height: 62px;
    width: 62px;
    border: 2px solid #183A5F;
    border-radius: 4px;
    display: flex;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

@media only screen and (max-width: 1500px) {
    .NavagationBar .nav-btn{
        display: block;
    }

    .NavagationBar nav {
        position: fixed;
        top: 0;
        left: -150vh;
        height: auto;
        width: 100%;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 0rem;
        z-index: 1000;
        transition: 0.5s ease;
        background-color: #183A5F;
    }

    .NavagationBar .responsive_nav {
        transform: translateX(150vh);
        z-index: 1000;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 20px;
        right: 32px;
    }

    nav .homeLogoResponsive{
        display: block;
        position: absolute;
        top: 8px;
        left: 32px;
    }
}



@keyframes logoChange {
    0%, 100% {background-image: url(../../Images/silamSakma/silamSakma1.png);}
    25%  {background-image: url(../../Images/silamSakma/silamSakma6.png);}
    50%  {background-image: url(../../Images/silamSakma/silamSakma7.png);}
    75%  {background-image: url(../../Images/silamSakma/silamSakma8.png);}
  }