@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Oswald&family=Poppins:wght@300;400&display=swap');

:root{
  --padding: 20px;
}

body {
  margin: 0;
  max-width: 1910px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section{
  height: auto;
  width: 70vw;
  border-radius: 3rem;
  margin: auto;
  padding: 6rem 2rem 6rem 2rem;
  background-color: #F2F5F8;
}
@media only screen and (max-width: 500px) {
  section {
    width: 80vw;
    border-radius: 3rem;
  }
}

h1{
  margin: 0;
  font-size: clamp(3rem, 4vw, 6rem); 
}

h2{
  font-size: clamp(1.2rem, 1.5vw, 3rem); 
  text-align: center;
}

h3{
  font-size: 30px;
  text-align: start;
}

h1 span, h2 span, h3 span {
  color: #F5B355;

  &:nth-child(2){
      color: #5021FF; 
  }
  &:nth-child(3){
      color: #AA78DF;
  }
}

button{
  cursor: pointer;
  height: 80px;
  width: 300px;
  border-radius: 20px;
  font-size: 25px;
  background-color: #5021FF;
  border: none;
  color: white;
  box-shadow: 0px 0px 20px 4px rgb(79, 79, 146);
  transition: 0.5s ease;

  &:hover{
    width: 350px;
  }
}

/* image{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgb(61, 89, 90));
    border-radius: 20px;
}
} */

p{
  font-size: clamp(1rem, 1vw, 2rem); 
  background-color: #D0DBE3;
  padding: 20px;
  text-align: center;
}