.clothesAndAccessoriesPage{
    padding: 0rem 0rem 40rem 0rem;
    display: grid;
    gap: 150px;
    background-image: url(../../Images/backgrounds/dhaka8.png);
    background-size: 200px 200px;
    background-attachment: fixed;
    background-position: center;
}

.clothesAndAccessoriesPage h1 span{
    color: #91553B;
}
.clothesAndAccessoriesPage h2 span{
    color: #91553B;
}

.sectionDhakaWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}

.sectionDhakaWrapper .flexRowWrapper .dhakaMadeImage{
    height: 600px;
    width: 650px;
    display: flex;
    position: relative;
    border-radius: 40px;
    overflow: hidden;
}
.sectionDhakaWrapper .flexRowWrapper .dhakaMadeImage image{
    height: 90%;
    width: 90%;
    position: absolute;
    border-radius: 400px 20px 400px 400px;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -56%);
    border: 15px solid white;
}
.sectionDhakaWrapper .flexRowWrapper .informationWrapper{
    height: auto;
    width: 540px;
}

.sectionDhakaWrapper .flexRowWrapperCenter{
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.sectionDhakaWrapper .flexRowWrapperCenter image{
    border-radius: 40px;
    height: 350px;
    width: 400px;
    background-color: #91553B;
}
.sectionDhakaWrapper .flexRowWrapperCenter .longerImage{
    border-radius: 40px;
    height: 350px;
    width: 450px;
    background-color: #91553B;
}



.sectionBoysClothingWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}


.sectionJewelriesWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}


.sectionAccessoriesWrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center; 
}