.jeweleriesFrame3x4Grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}
.jeweleriesFrame3x4Grid h2{
   color: #91553B;
}

.jeweleriesCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jeweleriesCardWrapper .informationWrapper{
    gap: 10px;
    border-radius: 20px;
    height: 260px;
    justify-content: flex-start;
}

.jeweleriesCardWrapper .informationWrapper p{
    padding: 0;
    margin: 0;
}

.jeweleriesCardWrapper .rounedBLTRImageWrapper{
    height: 300px;
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    position: relative;
}
.jeweleriesCardWrapper .rounedBLTRImageWrapper image{
    height: 104%;
    width: 104%;
    border-bottom-left-radius: 230px;
    border-top-right-radius: 230px;
    border: 15px solid white;
    position: absolute;
    display: flex;

    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.jeweleriesCardWrapper .rounedTLBRImageWrapper{
    height: 300px;
    width: 360px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
    position: relative;
}

.jeweleriesCardWrapper .rounedTLBRImageWrapper image{
    height: 104%;
    width: 104%;
    border-top-left-radius: 230px;
    border-bottom-right-radius: 230px;
    border: 15px solid white;
    position: absolute;
    display: flex;

    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}
@media only screen and (max-width: 900px) {
    .jeweleriesCardWrapper .informationWrapper{
        width: 340px;
        height: 200px;
    }
}








.jewelerieGallaryFrame{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
    .jewelerieGallaryColumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .jewelerieGallaryColumn2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 100px;
    }
    .jewelerieGallaryColumn3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 200px;
    }

    .jewelerieGallaryFrame image{
        height: 400px;
        width: 500px;
        border-radius: 40px;
    }

    .jewelerieGallaryFrame .longerImage{
        height: 600px;
        width: 500px;
        border-radius: 40px;
    }

/* @media only screen and (max-width: 1800px) {
   .dressGallaryFrame{

   }
} */

@media only screen and (max-width: 900px) {
    .jewelerieGallaryColumn2{
        margin-top: 50px;
    }
    .jewelerieGallaryColumn3{
        margin-top: 50px;
    }

    .jewelerieGallaryFrame image{
        height: 300px;
        width: 350px;
    }

    .jewelerieGallaryFrame .longerImage{
        height: 400px;
        width: 350px;
    }
}